@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: "Raleway";
    background-color: var(--very-dark-blue);
    background-image: url(images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 85%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.card-one {
    width: 350px;
    padding: 3.2% 6% 2.8% 6%;
    background-color: var(--dark-blue);
    border-top-right-radius: 95px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 1%;
}

.logo {
    margin-bottom: 5%;
}

.images-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16%;
}

.images-container img {
    background-color: var(--very-dark-blue);
    padding: 6% 8%;
    border-radius: 9px;
}

.card-two {
    width: 530px;
    background-color: var(--dark-blue);
    padding: 3%;
    border-radius: 8px;
    margin-top: 55px;
}

.storage-update-container {
    background-color: var(--pale-blue);
    color: var(--very-dark-blue);
    padding: 13px 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 210px;
    right: 280px;
}

.storage-update-container h1 {
    font-size: 40px;
    font-weight: 700;
    display: inline;
}

.storage-update-container p {
    font-size: 14px;
    font-weight: 700;
    display: inline;
    text-transform: uppercase;
    margin-left: 12px;
}

.storage-update-container::before {
    content: "";
    background-color: var(--pale-blue);
    width: 40px;
    height: 40px;
    position: absolute;
    right: -16px;
    top: 50px;
    clip-path: polygon(50% 0%, 0% 50%, 100% 100%);
}

.card-two .main-text {
    color: var(--grayish-blue);
    font-weight: 400;
    margin-bottom: 3%;
    font-size: 14px;
}

.bold {
    font-weight: 700;
    color: var(--pale-blue);
}

.loading-component {
    background-color: var(--very-dark-blue);
    height: 20px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 1.5%;
}

.loading-component-2 {
    width: 80%;
    height: 16px;
    border-radius: 18px;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    position: absolute;
    top: 2px;
    left: 2px;
}

.loading-component-2::before {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--pale-blue);
    position: absolute;
    right: 2px;
}

small {
    color: var(--pale-blue);
    font-weight: 400;
    font-size: 14px;

}

.gb-counter {
    margin-left: 400px;
}

.attribution {
    font-size: 15px;
    text-align: center;
    margin-top: -150px;
    color: var(--pale-blue);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



@media only screen and (max-width: 600px) {
    body {
        width: 90%;
    }

    main {
        flex-direction: column;
        max-width: 100%;
        margin: auto;
    }

    .card-one {
        width: 90%;
        min-height: 40vh;
        margin-bottom: -40px;
    }

    .card-two {
        width: 90%;
        min-height: 40vh;
    }

    .gb-counter {
        margin-left: 130px;
    }

    .storage-update-container::before {
        display: none;
    }

    .storage-update-container {
        right: 100px;
        top: 470px;
        padding: 4%;
        border-bottom-right-radius: 8px;
    }

    .storage-update-container h1 {
        font-size: 30px;
    }

    .storage-update-container p {
        margin-left: 10px;
        font-size: 12px;
    }

    .main-text {
        margin-top: 25%;
    }

    .attribution {
        font-size: 11px;
        margin-top: 6%;
    }
}
.link{
    color:hsl(0, 0%, 100%)  ;
    text-decoration: none;
}
.link:hover{
    color: hsl(228, 46%, 55%);
}
.click{
    color: hsl(228, 45%, 44%);


}
.click:hover{
    color: #576dc1;
    margin-left: 0.2cm;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(45deg, #2cc0f1, #6b47ff, #4214d7)

 ;}
.dd{

    font-weight: bolder;
    font-size: larger;
}

.btn1{
    border-style: solid;
    border-width: 5px;
border-color: rgba(2, 151, 151, 0.329);
    padding: 5px;
    color: #fff;
background-color: hsl(228, 46%, 55%);
border-radius: 20%;
margin-left: 10px;
background: linear-gradient(45deg, #2cc0f1, #6b47ff, #4214d7)

}
.dd:hover{
    color: #16c6da;

}
.ff:hover{
    color: rgb(254, 59, 37);

}

.ss:hover{
    color: #07c054;

}
.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}